/* AllUsers.css */

.outer-container1 {
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #bca4cb;
  text-align: center;
  transition: box-shadow 0.3s;
}

.outer-container1:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.chef-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  font-family: Chonburi;
}

.chef-category {
  margin-bottom: 20px;
  width: 100%;
}

.chef-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.chef-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.5s, margin 0.3s, background-color 0.3s; /* Added transition for background-color */
  background-color:#eff5f2 ; /* Initial background color */
}

.chef-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  margin: 8px; /* Adjust the margin on hover */
  background-color: #e9d788; /* Background color on hover */
}

.chef-details {
  margin-bottom: 5px;
}

.chef-picture {
  max-width: 100%;
  max-height: 100px;
}
