body {
  background-color: #e4deff;
  margin: 0;
}

.container {
  max-width: 600px; /* Reduced max-width */
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-family: Chonburi;
}

.block-report {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px; /* Reduced padding */
  margin-bottom: 20px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.block-report:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

p {
  font-family: "Quattrocento";
  font-weight: normal;
  text-align: center;
}

.block-report h3 {
  color: #333;
  font-family: "Quattrocento";
  font-weight: bold;
  text-align: center;
}

.proof-image-container {
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.proof-image {
  width: 100%; /* Full width */
  max-height: 400px; /* Reduced max height */
  object-fit: cover;
  border-radius: 8px;
  margin-top: 15px;
}

.block-button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.block-button {
  background-color: #e9d788;
  color: black;
  border: none;
  padding: 15px 15px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 44%;
  margin-top: 20px;
  font-family: Chonburi;

}

.block-button:hover {
  background-color: #bca4cb;
}

.status-text {
  font-weight: bold;
  color: #ff5e5e;
  margin-top: 10px;
}
