/* main_admin.css */
.admin-content-container {
  margin: 20px auto; /* Add 'auto' to center horizontally */
  justify-content: space-between;
  background-color:#BCA4CB
  ;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  max-width: 50%;
  display: flex;
  flex-direction: column; /* Change flex-direction to column */
  align-items: center; /* Center the container horizontally */
}


  .navigation-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left:150px;
  }
  
  .nav-button {
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid ;
    border-radius: 8px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.3s;
    font-family: "Quattrocento";
    font-weight: bold;
  }
  
  .top-lists {
    display: flex;
  flex-direction: column;
  align-items: center; /* Center the lists horizontally */
  gap: 20px;
  justify-content: center;
  }
  
  .top-chefs-list,
  .top-nutritionists-list {
    text-align: center;
  }
  
  .top-chefs-list .list-item,
  .top-nutritionists-list .list-item {
    background-color:  #eff5f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: 500px;
  }
  
  .top-chefs-list h2,
.top-nutritionists-list h2 {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Chonburi;
  margin-top: 20px;}

.top-chefs-list p,
.top-nutritionists-list p {
    font-family: "Quattrocento";
    font-weight: normal;}

  /* Add more styles as needed */
  .profile-image {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Make the image round */
    margin-right: 10px; /* Add margin for spacing */
  }
  /* main_admin.css */
.rounded-profile-image {
  border-radius: 50%;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  object-fit: cover;
  margin-right: 10px; /* Adjust the margin as needed */
}
