
.chef-collab-heading{
    margin-top: 50px;
    margin-bottom: 30px;
    padding:10px;
    color: #333;
    font-weight: bold;
    font-family: Chonburi;
    text-align: center;
}

.chef-collab-list {
    width: 80%;
    margin: 20px auto;
  }
  
  .chef-collab-list-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 50px;
    padding: 30px;
    
   
  }
  
  .chef-collab-names {
    display:flex;
    flex-direction: column;
    width: 30%; 
    background-color: #eff5f2;
    padding: 45px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
 
  }

  .chef-collab-names-text{
    margin-left:70px;
  }
