/* ConsultNutritionist.css */

.bmi-calculator-card {
    width: 30%;
    margin: 20px 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .calculator-input-container {
    margin-bottom: 15px;
  }
  
  .input-container-label {
    display: block;
    margin-bottom: 5px;
  }
  
  .bmi-nutritionist-container{
    display: flex;
    
  }
  
  .calculate-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .calculate-button:hover {
    background-color: #45a049;
  }
  
  .result-container {
    margin-top: 15px;
  }
  .nutritionist-list-container {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width:60%;
    height:40%;
  }
  
  .nutritionist-list {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
  }
  
  .nutritionist-item {
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #f4f4f4;
    }
  
    img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
      margin-bottom: 8px;
    }
  
    p {
      margin: 0;
      font-size: 14px;
      text-align: center;
    }
  }

  .nutritionist-item.selected {
    background-color: #f4f4f4;
  }

  .mealplans-container{

    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width:100%;
    height:auto;
    

  }

  .mealplan-card{

    border: 1px solid #ddd;
    border-radius: 8px; 
    margin: 16px;
    cursor: pointer;
    width:97%;
    margin-left: 2%;
    min-height:auto;
    transition: transform 0.2s ease-in-out;
    background-color: #fffdfd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-top: 0;
    display: flex;

  }

  .detailss{
    display:flex;
    flex-direction: column;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 4%;
  }