.home{
  background-color :white;
  min-height: 100vh;
}
.discover-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #E5ECE9; 
   
  }
  
  .search-card-11{

    border-radius: 10px;
    margin-top: 3%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
    background-color: #ffe853; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width:90%;
    margin-left: 5%;
  }
  
  .search-icon-1 {
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.5rem; 
  }
  
  .category-card-11 {
    display: flex;
    gap: 25%;
    margin-left: 25%; 
    margin-top: 1.5%;
    width:15%;
  }
  .contains{
    
  }

 .searchRecepie{
    margin-left: 100px;
 }
  .category-card-11 label {
    margin: 5px 0;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    background-color:#ffe853;  
    color: #333; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px;
    font-weight: bold;
    
  }
  
  .search-dropdown-1 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 14px;
    margin-left: 2%;

  }

  .recipe-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 3%;
    margin-left: 2%;
    
  }

  .recipe-list-today{
    display: flex;
    flex-direction: row;
    row-gap: 10px;
    margin-top: 3%;
    margin-left: 3%;
    width:93%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 

  }
  .category-slider-container {
    margin-top:50px;
    overflow: hidden;
    margin-left: 18%;
    width:60%;
  }
  
  .category-slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch; 
  }

  
  .recipe-list-today::-webkit-scrollbar {
    width: 3px; 
  }
  
  .recipe-list-today ::-webkit-scrollbar-thumb {
    background-color:transparent; 
  }
  
  .recipe-list-today::-webkit-scrollbar-track {
    background-color: transparent; 
  }

  
  .category-slider::-webkit-scrollbar {
    width: 3px; 
  }
  
  .category-slider ::-webkit-scrollbar-thumb {
    background-color:transparent; 
  }
  
  .category-slider::-webkit-scrollbar-track {
    background-color: transparent; 
  }
  .message-to-chef.other-user {
    margin-left: 44%;
  }
  
  
  .category-card {
    background: linear-gradient(92.84deg, #ffca46 -47.72%, #fda33c 136.81%);
    background-color: #ffe853;
    color: black;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    scroll-snap-align: start;
    transition: background-color 0.3s ease;
    transition: transform 0.3s ease-in-out;
  }
  
  .category-card:hover {
    background-color: #f9fafa;
    transform: scale(1.2);

  }

  .Categories-choose{
     /* Title */

  width: 600px;
  height: 25px;

  /* Headline 4 Bold */
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 112%;
  /* or 48px */
  text-align: center;

  color: #F17228;

  margin-left: 25%;
 
  flex: none;
  order: 0;
  flex-grow: 0;
  }


  .pagination-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  
  .pagination-buttons-button {
    padding: 10px 15px;
    margin: 0 5px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #ffe853;
    color: #333;
    transition: background-color 0.3s;
  }
  
  .pagination-buttons-button:hover {
    background-color: #F17228;
  }
  
  .pagination-buttons-button:disabled {
    cursor: not-allowed;
    background-color: #ffe853;
    color: #aaa;
  }
  
  .pagination-buttons-span {
    padding: 10px 15px;
    font-size: 14px;
    color: #F17228;
  }