
.discover-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #E5ECE9; 
   
  }
  
  .search-card-11{

    border-radius: 10px;
    margin-top: 3%;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 20px;
    background-color: #D5CFE1; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    width:90%;
    margin-left: 5%;
  }
  
  .search-icon-1 {
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.5rem; 
  }
  
  .category-card-11 {
    display: flex;
    gap: 25%;
    margin-left: 25%; 
    margin-top: 1.5%;
    width:15%;
  }
  .contains{
    
  }

 .searchRecepie{
    margin-left: 100px;
 }
  .category-card-11 label {
    margin: 5px 0;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px;
    background-color: #D5CFE1; 
    color: #333; 
    font-family: 'Arial', sans-serif; 
    font-size: 14px;
    font-weight: bold;
    
  }
  
  .search-dropdown-1 {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    font-size: 14px;
    margin-left: 2%;

  }

  .recipe-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-top: 3%;

  }