/* Navbar.css */
.navbar-1 {
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #B7B6C1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
   
  }
  
  .nav-links-1 {
    display: flex;
    gap: 30px;
    
    
  }
  
  .nav-links-1 a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .icon-link-1 {
    cursor: pointer;
    

  }
  .icon-link-2 {
    cursor: pointer;
    background-image: url('../assets/images/notifications.svg'); 
    background-size: cover;
    background-position: center;
    width:2%;
    height:2%;

  }

  .active-link-1 {
    color: #ff0000; 
  }

  .sidebar1 {

    width: 200px; 
    height: 100%;
    position: fixed;
    top: 0;
    margin-top: 3.5%;
    right: -200px; 
    background-color:#94958B; 
    padding-top: 50px;
    transition: right 0.3s ease; 
    z-index: 1000;
  }
  
  .sidebar1 a {
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    color: #0f0e0e; 
    display: block;
    transition: background-color 0.3s; 
  }
  
  .sidebar1 a:hover {
    background-color: #D5CFE1; 
  }
  
  
  .sidebar-open {
    right: 0;
  }
  
  .cart-counter {
    position: absolute;
    top: -2px;
    right: 175px;
    background-color: #ff5733;
    color: #fff; 
    border-radius: 50%;
    padding: 5px 10px;
    font-size: 12px;
  }