.main-container14 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container14 {

  align-items: center;
  padding: 20px;
  max-width: 200%;
}

.search-card14 {
  border-radius: 10px;
  margin-top: 3%;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #ffe853; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  width:80%;
  margin-right: 200px;
  margin-left: 30px;
}

.search-recipe14 {
  margin-left: 10px;
  width: 100%; /* Adjust the width of the search input */
}

.search-icon14 {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.5rem;
}

.recipe-list14 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center the items on the x-axis */
  gap: 20px;
  margin-top: 3%;
}

.recipe-item14 {
  width: calc(25% - 20px); /* Change the width for four items per row with a gap of 20px */
  padding: 5px; /* Reduce padding */
    box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(255,232,83);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px; /* Add margin to create space between rows */

  overflow: hidden;
  transition: height 0.3s ease-in-out;
}



.recipe-name14 {
  font-size: 1.2rem; /* Adjust the font size */
  font-weight: bold;
  margin-bottom: 8px; /* Adjust margin */
  font-family: Chonburi;

}

.recipe-image14 img {
  width: 100%;
  max-height: 180px; /* Adjust the max height of the images */
  border-radius: 10px;
}


.recipe-description14 {
  margin-bottom: 8px; /* Adjust margin */
  font-size: 0.9rem; /* Adjust the font size */
  font-weight: 200;
}

.recipe-ingredients14,
.recipe-allergens14,
.recipe-calories14 {
  margin-bottom: 8px; /* Adjust margin */
}

.recipe-ingredients14 ul,
.recipe-allergens14 ul {
  list-style-type: none;
  padding: 0;
}

.recipe-ingredients14 li,
.recipe-allergens14 li {
  margin-bottom: 3px; /* Adjust margin */
}

.plus-icon14 {
  margin-left: 5px; /* Adjust margin */
  cursor: pointer;
  font-size: 1.2rem; /* Adjust font size */
  color: #34c759;
  background-color: #ffffff;
  padding: 2px; /* Adjust padding */
  border-radius: 50%; /* Use a circular border radius */
}
/* discover.css (or your CSS file) */

.notification {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(255,182,47);
  color: white;
  padding: 15px;
  border-radius: 5px;
  display: inline-block;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}
/* Add these styles to your existing CSS file or create a new one */

.show-more-link {
  display: block;
  margin-top: 8px; /* Adjust the margin-top as needed */
  font-weight: bold;
  color: rgb(255,182,47); /* Change the color to your preference */
  cursor: pointer;
}

.show-more-link:hover {
  text-decoration: underline;
}

.wow
{
  padding:10px;
  border:2px solid  white;
  border-radius: 10px;
  font-size:14px;
  background-color:  rgb(255,182,47);
}