/* Add this to your CSS file or style block in your component */

.meal-plans-page {
    font-family: Chonburi ;
    background-color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .meal-plan-card {
    background-color:rgb(255,232,83);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
    font-family: "Quattrocento";

  }
  
  .meal-plan-card:hover {
    transform: scale(1.03);
  }
  
  .meal-plan-card h3 {
    color: #333;
  }
  
  .meal-plan-card p {
    color: #373636;
    margin: 10px 0;
  }
  
  .ViewBtn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 9px 6px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .ViewBtn:hover {
    background-color: #45a049;
  }
  