.image-side1-forgotPassword{
    flex: 1;
    background-image: url('../public/4841115.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    margin-right: 10%;
}

.card-container-forgotpassword{
    display: flex;
    flex-direction: row;
    max-width: 75%;
    width: 90%;
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
    margin-top: 5%;
    margin-bottom: 10%;
}