/*landingpage.css*/
@import url("https://fonts.googleapis.com/css2?family=Calistoga&family=Chonburi&family=EB+Garamond:ital,wght@1,500&family=Elsie:wght@400;900&family=IBM+Plex+Sans:wght@600&family=Marcellus&family=Montserrat:wght@100;500&family=Outfit&family=Poppins:ital@1&family=Quattrocento&display=swap");
body {
  font-family: "Quattrocento";
  font-weight: bold;
  background-color:  rgb(218,218,218);
  
}

.The-most-outer-part{
  background-color :rgb(212,226,209);
  
}

.outer-container-landingpage{
  background-color: rgb(212,226,209);
  ;
}
.navbar-landingpage {
  background-color:rgb(212,226,209)
  ;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1rem;
  font-weight: bold;
  font-family: Chonburi;
  margin-left: 2%;
}
/* Add these styles for the search bar */
.search-bar {
  display: flex;
  align-items: center;
}

/* Update the width of the search input in .search-bar input */
.search-bar input {
  width: 500px; /* Set your desired width */
  padding: 8px;
  margin-right: 5px;
  border: 2px solid #C4E0F9;
  border-radius: 5px;
  font-size: 14px;
}
.search-button-landing {
  border: none;
  padding: 0;
  border-radius: 2px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #E4DEFF ;
}

/* Style the image to fill the button */
.search-button img {
  width: 30px; /* Make the image fill the container */
  height: 30px; /* Make the image fill the container */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  
}
.nav-links {
  display: flex;
  align-items: center;
  font-family: "Quattrocento";
  font-weight: bold;
  
}

.nav-links div {
  margin: 0 10px;
  cursor: pointer;
}

/* Best Food container styles */
.best-food-container {
  background-color: rgb(230,220,154);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);  

  margin: 20px;
  padding: 20px;
  display: flex;
  flex-direction: row; /* Change to column layout */
  height: auto;
  padding: 40px;
  border-radius: 15px; /* Add rounded edges */
  gap: 20%;
}

.best-food-text {
  font-family: Chonburi;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px; /* Add margin between text and image */
}
.image-landingpage {
  height: auto;
  width: 50%;
  background-image: url(./output-onlinegiftools.gif);
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat;
}

.best-food-image {
  max-width: 80%;
  max-height: 200px; /* Set a maximum height for the image */
  border-radius: 10px; /* Add rounded edges to the image */
  align-self: flex-end; /* Align the image to the start (left side) */
 
}

.inline-text {
  display: inline-block;
  margin-right: 10px; /* Add some space between "The best delicious food" and the additional text */
}


/* Discover menu button styles */
.discover-menu-button {
  background-color: #BCA4CB; /* Green background color */
  color: black; /* White text color */
  border: none; /* Remove border */
  padding: 15px 60px; /* Add padding */
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 10px; /* Add rounded edges */
  cursor: pointer;
  margin-top: 80px; /* Add margin from the text */
  white-space: nowrap;
  font-weight: bold;
  font-family: "Quattrocento";

}
.additional-text {
  font-family: "Quattrocento";
  font-size: 1rem;
  font-weight: bold;
}

.outer-container{
 /* background-color: #E5ECE9;*/
}
.category-container {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  background-color:rgb(212,226,209)
  ;

}

.category {
  padding: 10px;
  margin-right: 17px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 5px;
  font-family: "Quattrocento";
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s; /* Add smooth transition effect */
}

/* Change color on hover */
.category:hover {
  background-color: #B95F89;
  color: white;
}

.food-info-container {
  display: flex;
  gap: 10%;
  margin-top: 20px;
  border-radius: 10px; /* Add rounded edges */
  overflow: hidden; /* Hide overflow content */
background-color: #E4DEFF
;
}

.food-info {
  flex: 0 0 20%; /* Adjust the width of the food info */
  text-align: center;
  margin: 0 10px;
  border: 2px solid #B95F89; /* Add border color */
}

.food-info img {
  max-width: 100%;
  max-height: 150px; /* Adjust the height of the image */
  border-radius: 5px;
  margin-bottom: 10px;
}

.icon-link {
  margin: 0 10px;
  cursor: pointer;
}

/* Google Material Icons styles */
.material-icons {
  font-size: 24px;
  vertical-align: middle;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  z-index: 1000;
  display: none; 
  flex-direction: column;
  min-width: 120px;
}

.dropdown-menu a {
  padding: 10px;

  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: background-color 0.3s;
}

.dropdown-menu a:hover{
  background-color: rgb(207, 206, 206);
}


.dropdown:hover .dropdown-menu {
  display: flex; 
}

/* food*/

.recipe-card-landingpage {
  border: 1px solid #ddd;
  border-radius: 8px;
  
  margin: 16px;
  cursor: pointer;
  width:380px;
  margin-left: 14%;
  height:auto;
  transition: transform 0.2s ease-in-out;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-top: 0;
  
}

.recipe-card-landingpage:hover {
  transform: scale(1.05);
}


.relative-container-landingpage {
  position: relative;
}
.flexxx-landingpage{
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  row-gap: 0px;
}

.food-image-landingpage{
     
  margin-top: 0px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  width: 100%; 
  height:250px;
}